.header{
    height:104px;
    background-color:green;
    padding: 30px;
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.header h1{
    margin:0px;
    float:left;
    color:#fff;
    font-size:28px;
    font-weight:800;
}
.header ul{
    color:#fff;
    list-style: none;
    float:right;
    margin: 0px;
    padding:0px;

}
.header ul li{
    float:left;
    font-size:16px;
    margin-right:10px;
    text-transform: uppercase;
    font-weight: 600;
}
.header ul li:hover{
    color: blueviolet;
}